body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    height: 100%;
    width: 100%;
}
/*header*/
.header {
    position: absolute;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
}
.logo {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    width: 40%;
    height: auto;
    
}

.logo_img {
    width: 20%;
    height: auto;
    margin-left: 35px;
}
.logo_text {
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
    word-spacing: 3px;
    margin-left: 10px;
}

/*main menu*/
.navigation {
    margin-right: 35px;
}

.nav_inner {
    display: inline-block;
    margin-right: 30px;
}

.menu_inner {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;
    opacity: 0.8;
    transition: opacity 0.2s linear;
}
.nav_inner .menu_inner {
    position: relative;
}
.nav_inner .menu_inner::after {
    content:"";
    position: absolute;
    bottom: -7%;
    left: 0;
    width: 100%;
    height: 2px;
    transform: scale(0);
    transition: transform 0.4s ease;
    transform-origin: bottom right;
    background-color: #f34d4d; 

}

.nav_inner .menu_inner:hover::after {
    transform-origin: bottom left;
    transform: scale(1);
}

.menu_inner:hover {
    opacity:1;
}
.menu_inner:active {
    opacity:0.8;
}
#mobile_nav {
    display: none;
}

.first {
    width: 100%;
    height: 100%;
    background-color: #F5F6FA;
    overflow: hidden;
  }
 
  #menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 20px;
    left: 30px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;}
    #menuToggle input
{
  display: flex;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#menuToggle span
{
  display: flex;
  width: 29px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
  background: #36383F;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 180px;
  height: 400px;
  box-shadow: 0 0 10px #85888C;
  margin: -50px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background-color: #F5F6FA;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  transition-delay: 2s;
 
}

#menu {
    list-style-type: none;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

#menu a {
    color: #36383F;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
}
#menu a:hover{
    opacity: 0.7;
}





/*1 page*/
.first {
    background-image: url("img/overlay.png"), url("img/banner.jpg");
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_first{
    margin: 0 auto;
    display: block;
    text-align: center;
}

.header_first {
    color: white;
    font-size: 45px;
    font-weight: uppercase;
    animation-name: example;
    animation-duration: 3s;
}
.text_first {
    color: white;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.7;
    word-spacing: 2px;
    opacity: 0.7;
    text-transform: uppercase;
    margin-bottom: 60px;
    animation-name: animation1;
    animation-duration: 4s;

}

@keyframes example {
    from { opacity: 0;}
    to {opacity: 1;}
}

@keyframes animation1 {
    from{
        transform: scaleX(0.2);
        filter: blur(20px);
        opacity: 0;
    }
    
}

@keyframes animation2 {
    from {
        transform: scale(10) translateY(-50%);
        opacity: 0;
    }
}


.button_first {
    background-color: #e81748;
    text-align: center;
    border-radius: 5px;
    padding: 25px 50px;
    width: 30%;
    margin: 0 auto;
    cursor: pointer;
    transition: opacity 0.2s linear;
    animation-name: animation2;
    animation-duration: 3s;
}

.button_link1 {
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

.button_first:hover {
    opacity: 0.8;
}
.button_first:active {
    opacity: 1;
}

/*2 page*/
.second {
    height: auto;
    width:100%;
    display: flex;
    margin-bottom: 5%;
}
.second_item_1, .second_item_2 {
    width: 50%;
}

.second_item_1 {
    margin-top: 6%;
    padding-left: 12%;
}
.header_second {
    font-size: 50px;
    text-transform: uppercase;
    line-height: 1.4;
    color: #484848;
    margin-top: 5%;
}
.text1_second {
    color: #aaa;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: -6%;
}
.second_item_2 {
    font-size: 17px;
    padding-right: 10%;
    padding-left: 5%;
    margin-top: 6%;
    line-height: 2;
    color:#484848;
    font-weight: 400;
    opacity: 0.9;
}

.text2_second {
    margin-bottom: 10%;
}

/*3 page*/
.third {
    width: 100%;
    display: block;
    margin: 0 auto;
    background-color: #f6f6f6;
}

.content1_third {
    text-align: center;
    
}

.header_third {
    font-size: 50px;
    padding-top: 5%;
    text-transform: uppercase;
    color: #484848;
}

.text1_third {
    color: #aaa;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: -1%;
    margin-bottom: 5%;
}

.content2_third {
    display: flex;
    justify-content: center;
    
}

.content21_third {
    margin-right: 3%;
}


.img1_third, .img2_third {
    width: 100%;
    height: auto;
    margin-bottom: -3px;
}


.img1_header_third, .img2_header_third {
    margin: 0 auto;
    padding: 20px 45px;
    font-size: 20px;
    text-transform: uppercase;
    padding: 7% 0;
    color: #484848;
    text-align: center;
    margin-top: -1px;
    box-shadow: 0 0 5px rgba(72, 72, 72, 0.5);
}

.content3_third {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 5%;
    
}
.button1_third{
    background-color: #e81748;
    text-align: center;
    border-radius: 3px;
    padding: 20px 40px;
    margin-left: 0.5%;
    margin-bottom: 7%;
    cursor: pointer;
    transition: opacity 0.2s linear;
    
}

.button2_third{
    background-color:#484848;
    text-align: center;
    border-radius: 3px;
    padding: 20px 40px;
    margin-left: 3%;
    margin-bottom: 7%;
    cursor: pointer;
    transition: opacity 0.2s linear;
    
}

.button3_link1 {
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

.button3_link2 {
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

.button1_third:hover, .button2_third:hover {
    opacity: 0.8;
}
.button1_third:active, .button2_third:active {
    opacity: 1;
}

/*4 page*/
.fourth {
    display: block;
    margin-bottom: 7%;
}

.content1_fourth {
    display: block;
    margin-left: 7%;
    text-align: center;
}

.header_fourth{
    font-size: 45px;
    text-transform: uppercase;
    color: #484848;
    margin-top: 5%;
}

.text1_fourth{
    color: #aaa;
    font-size: 25px;
    text-transform: uppercase;
    margin-top: -1%;
    margin-bottom: 5%;
    font-weight: 500;
}

.content2_fourth{
    display: flex;
    justify-content: center;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 3%;
}

.item1_fourth {
    width: 50%;
    display:flex;
    justify-content:flex-end;
    margin-right:2%;
    
}
.item2_fourth {
    width: 50%;
    display:flex;
    justify-content: flex-start;
    margin-left: 2%;
}

.paragraph1_fourth {
    text-align: right;
    margin-right: 3%;
}
.paragraph2_fourth {
    text-align: left;
    margin-left: 3%;
}
.header2_fourth {
    font-size: 17px;
    text-transform: uppercase;
    color: #484848;
    letter-spacing: 0.2px;
}

.text2_fourth {
    color: #aaa;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 7%;
    letter-spacing: 0.5px;
    
}

.text3_fourth {
    font-size: 14px;
    line-height: 2;
    color:#484848;
    font-weight: 400;
    letter-spacing: 0.2px;
   

}
.img1_fourth, .img2_fourth {
    border: solid 0.5em rgba(144, 144, 144, 0.25);
    border-radius: 100%;
}


/*5 page*/
.fifth {
    background-image: url("img/overlay.png"), url("img/banner.jpg");
    background-attachment: fixed;
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 55%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_fifth{
    margin: 0 auto;
    display: block;
    text-align: center;
}

.header_fifth {
    color: white;
    font-size: 35px;
    text-transform: uppercase;
}

.text_fifth {
    color: white;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.7;
    word-spacing: 2px;
    opacity: 0.7;
    text-transform: uppercase;
    margin-bottom: 10%;
    margin-top: -3%;
}

.button_fifth {
    background-color: #e81748;
    text-align: center;
    border-radius: 3px;
    padding: 20px 30px;
    width: 30%;
    margin: 0 auto;
    cursor: pointer;
    margin-top: -2%;
    transition: opacity 0.2s linear;
}

.button_link2 {
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

.button_fifth:hover {
    opacity: 0.8;
}
.button_fifth:active {
    opacity: 1;
}


/*6 page*/
.content_sixth {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.facebook, .twitter, .instagram, .arrow1, .arrow2 {
    color:#484848;
    text-decoration: none;
    font-size: 55px;
    opacity: 0.7;
    transition: opacity 0.2s linear;
}

.twitter {
    margin-right: 5%;
    margin-left: 5%; 
}

.twitter:hover, .facebook:hover, .instagram:hover, .arrow1:hover, .arrow2:hover {
    opacity: 1;
}

.twitter:active, .facebook:active, .instagram:active, .arrow1:hover, .arrow2:hover {
    opacity: 0.7;
}
.arrow1 {
    position: absolute;
    right: 1%;
    
}
.arrow2 {
    position: absolute;
    left: 1%;
    
}



/*adaptive*/
@media(max-width: 1321px) {
    .img1_fourth, .img2_fourth {
        width: auto;
        height: 80%;
    }
} 

@media(max-width: 1200px){
    .img1_fourth, .img2_fourth {
        width: auto;
        height: 70%;
    }
    .content2_third {
        margin: 0 5%;
    }
}

@media screen and (max-width: 950px) {
    .content2_fourth {
        flex-wrap: wrap;
    }
    .item1_fourth, .item2_fourth {
        width: 100%;
    }
    .img1_fourth,.img2_fourth {
        height: 50%;
        width: auto;
    }
   
    .text2_fourth {
        margin-bottom: 0;
        font-size: 20px;
    }
    .text3_fourth {
        font-size: 25px;
    }
    .header2_fourth {
        font-size: 25px;
    }
    .menu_inner {
        font-size: 25px;
    }
    .second {
        flex-wrap: wrap;
    }
    .second_item_1 {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .header_second {
        text-align: center;
    }
    .text1_second {
        margin-top: 0;
        text-align: center;
        margin-bottom: -2%;
        margin-top: -1%;
    }

    .second_item_2 {
        width: 100%;
        margin: 0;
        padding: 2%;
        font-size: 23px;
        text-align: center;
    }

    .text2_second{
        margin-bottom: 0;
    }

    .twitter {
        margin-right: 20%;
        margin-left: 20%;
    }

    .button1_third, .button2_third {
        width: 35%;
        height: 9%;
    }

    .content1_fourth {
        text-align: center;
        padding: 0;
        margin:0;
    }
}

@media(max-width: 875px) {
    .header {
        flex-wrap: wrap;
        justify-content: center;
        
    }
    .navigation, .logo {
        display: none;
    }
  
    #mobile_nav{
        display:block;
    }
    .header{
        padding: 0;
        justify-content: flex-start;
    }




    .header_third {
        font-size: 40px;
    }
    .text1_third {
        font-size: 25px;
    }

    
    /*banner*/

    .header_first {
        margin-top: 0;
    }
    .button_link1 {
        font-size: 25px;
    }
    .button_first {
        width: 50%;
    }
    .img1_fourth, .img2_fourth {
        height: 40%;
        width: auto;
    }

    .second_item_1 {
        text-align: center;
        padding: 0;
        margin-top: 1%;
    }
    .header_second {
        margin-top: 3%;
        font-size: 40px;
    }
    .text1_second {
        margin-top: 0%;
        font-size: 25px;
    }
    .second_item_2 {
        margin-top: -2%;
        line-height: 1.7;
    }
}

@media(max-width: 620px){

    .navigation {
        display: none;
    }
  
    .menu_button{
        display: block;
    }

    .logo_img {
        margin-top: 10%;
    }
    .header_first {
        margin-top: 0;
    }
    .img1_fourth, .img2_fourth {
        height: 30%;
        width: auto;
    }
    .button1_third{
        margin-left: 5%;
     }
     .button2_third{
        margin-right: 5%;
     }

    .header_fourth {
        font-size: 30px;
    }
    .text1_fourth {
        font-size: 25px;
    }


}

@media(max-width: 620px){
    .img1_fourth, .img2_fourth {
        height: 30%;
        width: auto;
    }

}

@media(max-width: 570px){

    .img1_fourth, .img2_fourth {
        height: 40%;
        width: auto;
    }
    .item1_fourth, .item2_fourth {
        flex-wrap: wrap;
        
    }

    .item1_fourth {
        justify-content: flex-start;
    }
    .item2_fourth {
        justify-content: flex-end;
        margin-bottom: 5%;
    }

    .paragraph1_fourth, .paragraph2_fourth {
        width: 100%;
    }
    .twitter {
        margin-right: 9%;
        margin-left: 9%;  
    }
}


@media(max-width: 500px) {
    .img1_fourth, .img2_fourth {
        width: 40%;
        height: auto;
    }

    .header_fifth {
        font-size: 30px;
    }
    .text_fifth {
        font-size: 20px;
    }
    .button_link2 {
        font-size: 15px;
    }
    .twitter {
        margin-right: 7%;
        margin-left: 7%;  
    }
    .content1_fourth {
        margin: 0 2%;
    }
    .header_fourth {
        font-size: 35px;
    }
    .text1_fourth {
        font-size: 25px;
    }
    .text3_fourth, .text4_fourth {
        line-height: 1.7;
    }

}

@media(max-width: 410px){
    .logo_img {
        width: 30%;
        margin-bottom: -50%;
    }
    .button1_third{
        margin-left: 5%;
     }
     .button2_third{
        margin-right: 5%;
     }
    .button3_link1, .button3_link2 {
        font-size: 15px;
    }
    .button_fifth {
        padding: 10px 15px;
        width: 60%;
    }
    .facebook, .twitter, .instagram, .arrow1, .arrow2 {
        color:#484848;
        text-decoration: none;
        font-size: 45px;
    
    }
    .twitter {
        margin-right: 7%;
        margin-left: 7%;  
    }
    .header_second {
        margin-top: 3%;
        font-size: 30px;
    }
    .text1_second {
        margin-top: 0%;
        font-size: 20px;
    }
}

@media(max-width: 350px){
    .header_first{
        margin-top: -10%;
    }
    .button_link1 {
        font-size: 20px;

    }
    .button_first {
        padding: 15px 25px;
    }
    .text2_second, .text3_second {
        line-height: 1.4;
    }

    .button1_third{
        margin-left: 5%;
     }
     .button2_third{
        margin-right: 5%;
     }

    .button1_third, .button2_third {
        padding: 20px 20px;
    }
    .button3_link1, .button3_link2 {
        font-size: 12px;
    }

    .text3_fourth, .text4_fourth {
        letter-spacing: 1px;
        line-height: 1.4;
    }
    .header_fifth {
        font-size: 20px;
    }
    .text_fifth {
        font-size: 15px;
    }
    .button_link2 {
        font-size: 15px;
    }
    
}